<div class="error d-flex flex-column align-items-center">
  <div class="alert alert-danger text-center py-1" role="alert">
   Can't found the URL:&nbsp&nbsp&nbsp{{errorURL}}</div>
  <a href="/"><button type="button" class="copy btn btn-outline-dark">Back</button></a>
</div>