<form action="/" method="POST" class="d-flex flex-column align-items-center">
  <input class="form-control mt-3" style="width: 450px" type="url" placeholder="Input URL here" name="url" required>
  <button class="btn btn-outline-dark mt-3" type="submit">Shorten</button>

</form>