<form action="/" method="POST" class="d-flex flex-column align-items-center">
  <input class="form-control mt-3" style="width: 450px" type="url" placeholder="Input URL here" name="url" required>
  <button class="btn btn-outline-dark mt-3" type="submit">Shorten</button>
</form>

{{#if ShorterURL}}
<div class="result d-flex flex-column align-items-center">
  <h4>Success! Please use this link:</h3>
  <p class="generatedURL"></p>
<button class="copy btn btn-dark">Copy</button>
</div>
{{/if}}